.tableWrap {
  overflow-x: auto;
  table {
    width: 100%;
    min-width: 500px;

    thead tr {
      th {
        padding: 0.85rem;
      }

      > *:nth-child(1) {
        width: 75px;
        text-align: center;
      }

      > *:nth-child(2) {
        text-align: center;
      }

      > *:nth-child(3) {
        width: 100px;
        text-align: center;
      }

      > *:nth-child(4) {
        width: 60px;
        text-align: center;
      }

      > *:nth-child(5) {
        text-align: center;
      }
    }

    tbody tr {
      > *:nth-child(1) {
        width: 75px;
        text-align: center;
      }

      > *:nth-child(3) {
        width: 100px;
        text-align: center;
      }

      > *:nth-child(4) {
        width: 60px;
        text-align: center;
      }
    }
  }
}