@import './_styles/reset.css';

:root {
  --font-en: 'Bona Nova SC', 'Cambria', 'Iowan Old Style', 'Palatino', 'Times New Roman', serif;
  --font-min:
    'Zen Old Mincho', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'Yu Mincho', YuMincho, '游明朝体', 'ＭＳ 明朝',
    'MS Mincho', serif;
  --font-goth:
    '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo', sans-serif;
  --c-accent: #af9351;
  --c-black: #2f2f2f;
  --c-border: #c0c0bf;
  --bg-primary: #121b3b;
  --bg-secondary: #efece7;
  --font-32to26: clamp(1.625rem, 6.93vw, 2rem);
  --font-30to24: clamp(1.5rem, 6.25vw, 1.875rem);
  --font-18: 1.125rem;
  --font-18to16: clamp(1rem, 4.26vw, 1.125rem);
  --font-17: 1.0625rem;
  --font-16to15: clamp(0.9375rem, 4vw, 1rem);
  --font-15: 0.9375rem;
  --font-15to14: clamp(0.875rem, 3.5vw, 0.9375rem);
  --font-14: 0.875rem;
  --font-13: 0.8125rem;
  --font-12: 0.75rem;
  --logo-height: min(35vw * (54 / 250), 54px);
}

html,
body {
  max-width: 100vw;
  font-size: 1rem;
  line-height: 1.85;
  font-family: var(--font-min);
  font-weight: 400;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:visited,
a {
  color: inherit;
  text-decoration: none;
}

a[target='_blank'] {
  text-decoration: underline;
}

a[target='_blank']::after {
  content: 'リンクを別ウィンドウで開く';
  display: inline-block;
  width: 1em;
  height: 1em;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: -0.25em;
  margin-inline-start: 0.25em;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

[data-page='works'] *:focus-visible {
  outline-color: #000;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;

  th,
  td {
    font-family: var(--font-goth);
    font-size: var(--font-14);
    line-height: 1.5;
    padding: 0.85rem 1.25rem;
    vertical-align: middle;
    border-bottom: 1px solid var(--c-black);
  }

  td {
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: calc(100% - 1.5rem);
      background-color: var(--c-border);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  thead tr {
    border-bottom: 1px solid var(--c-black);

    th {
      font-family: var(--font-min);
      font-weight: 700;
      font-size: var(--font-14);
    }
  }

  tbody tr:last-child {
    th,
    td {
      border-bottom: 1px solid transparent;
    }
  }
}

// -----------------------------------------------
// ユーティリティクラス
// -----------------------------------------------
.u-screenReader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// -----------------------------------------------
// ページ遷移
// -----------------------------------------------
.postFadeIn {
  opacity: 0;
  transform: translateY(100px);
  animation:
    post-fade-in 1.2s ease-out both,
    post-slide-in 1.2s cubic-bezier(0, 0.55, 0.45, 1) both;
  animation-delay: 750ms;
}

.homeFadeIn {
  opacity: 0;
  animation: home-in 1s ease-in both;
  animation-delay: 500ms;
}

@supports (view-transition-name: initial) {
  // フォールバックアニメーションを無効化
  .postFadeIn {
    opacity: 1;
    transform: translateY(0px);
    animation: none;
  }

  // フォールバックアニメーションを無効化
  .homeFadeIn {
    opacity: 1;
    animation: none;
  }

  ::view-transition-old(post-transition) {
    animation: post-out 1s ease-out both;
  }

  ::view-transition-new(post-transition) {
    animation:
      post-fade-in 0.8s ease-out both,
      post-slide-in 0.8s cubic-bezier(0, 0.55, 0.45, 1) both;
    animation-delay: 1000ms;
  }

  ::view-transition-old(home-transition) {
    animation: home-out 1s ease-out both;
  }

  ::view-transition-new(home-transition) {
    animation: home-in 1s ease-in both;
    animation-delay: 1s;
  }
}

@keyframes post-out {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes post-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes post-slide-in {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes home-out {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes home-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// -----------------------------------------------
// オープニングアニメーション
// -----------------------------------------------
.pageOuter {
  > .page {
    overflow: hidden;

    .page__inner {
      opacity: 0;
      transform: translateY(150px);
      transition:
        opacity 0.9s cubic-bezier(0.33, 1, 0.68, 1) 3.2s,
        transform 0.9s cubic-bezier(0.33, 1, 0.68, 1) 3.2s;
    }
  }

  &.is_show {
    .page__inner {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
