.page {
  --frame-position: min(2.2vw, 20px);
  padding: min(2.5rem, 4vw) 4vw;
  min-height: 100lvh;

  &__inner {
    max-width: 1200px;
    padding: 2rem min(7vw, 100px) var(--frame-position);
    margin: 0 auto;
    background-color: var(--bg-secondary);
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background-image: url(/img/noise.webp);
      background-repeat: repeat;
      mix-blend-mode: overlay;
      background-size: 256px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;

      @supports not (background-image: url(/img/noise.webp)) {
        background-image: url(/img/noise.jpg);
      }
    }
  }
}

.frame {
  aspect-ratio: 1 / 1;
  width: min(250px, 25vw);
  height: auto;
  background-image: url('/img/frame.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;

  &--left-top {
    top: var(--frame-position);
    left: var(--frame-position);
    transform: scale(-1, 1);
  }

  &--left-bottom {
    bottom: var(--frame-position);
    left: var(--frame-position);
    transform: scale(-1, -1);
  }

  &--right-top {
    top: var(--frame-position);
    right: var(--frame-position);
  }

  &--right-bottom {
    bottom: var(--frame-position);
    right: var(--frame-position);
    transform: scale(1, -1);
  }
}

.article {
  padding-top: min(6vw, 60px);
  min-height: 100lvh;
  color: var(--c-black);
  position: relative;
  z-index: 10;
}

.footer {
  font-size: var(--font-12);
  line-height: 1.35;
  color: var(--c-black);
  text-align: center;
  position: relative;
  z-index: 10;

  small {
    display: inline-block;
    width: 45vw;
  }
}

// -----------------------------------------------
// ページタイトル
// -----------------------------------------------
.header {
  margin-left: min(1vw, 0.5rem);
  padding-left: min(5vw, 1.5rem);
  position: relative;
  border-left: solid 2px var(--c-black);

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--c-black);
    position: absolute;
    top: 0;
    left: 2px;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.35;

    @media (width <= $md) {
      font-size: var(--font-32to26);
    }
  }

  &__title__number {
    margin-bottom: 1.25em;
    display: block;
    font-size: clamp(1.5rem, 5.35vw, 1.85rem);
    font-family: var(--font-en);
    font-weight: 400;
    line-height: 1;
  }

  dl {
    margin-top: 0.5em;
    font-size: var(--font-18to16);
    font-weight: 500;
    line-height: 1;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;

    dd {
      display: inline-block;
      line-height: 1;
    }

    *:nth-child(2):after {
      margin-left: 0.5em;
      content: '/';
    }
  }
}

// -----------------------------------------------
// 概要
// -----------------------------------------------
.summary {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: min(6vw, 2rem);

  @media (width <= $md) {
    flex-direction: column-reverse;
  }

  &__text {
    margin: 2em auto 0;
    max-width: var(--max-width);
    font-family: var(--font-goth);
    font-size: var(--font-15);
    font-weight: 400;
  }

  &__dl {
    > div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    > div + div {
      margin-top: 0.75rem;
    }

    > div > dt {
      margin-right: 0.75rem;
      padding: 0.35em 1em 0.4em;
      font-size: var(--font-13);
      line-height: 1.35;
      background-color: #ffffff70;
      border: solid 1px var(--c-border);
      border-radius: 999px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    > div > dd {
      margin-top: 0.25rem;
      font-size: var(--font-15);
      line-height: 1.5;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25em;

      > span::after {
        content: '/';
        margin-left: 0.25em;
      }

      > span:last-child::after {
        display: none;
      }
    }

    > div > dd > dl {
      display: block;
      width: 100%;

      > div {
        display: flex;
        margin-top: 0.25rem;
        font-size: var(--font-15);
        line-height: 1.35;

        dt::after {
          padding: 0 0.25rem;
          content: ':';
        }
      }
    }
  }

  &__img {
    width: 45%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;

    @media (width <= $md) {
      width: 100%;
    }

    img {
      width: 126%;
      max-width: 126%;
      max-height: 120%;
      position: absolute;
      bottom: -30px;
      right: -10%;

      @media (width <= $md) {
        position: static;
        transform: translate(-14%, 0);
      }
    }
  }
}

// -----------------------------------------------
// 課題と解決
// -----------------------------------------------
.case {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (width <= $md) {
    flex-direction: column;
    gap: 1.5rem;
  }

  + .case {
    margin-top: 3rem;

    @media (width <= $md) {
      padding-top: 2rem;
      border-top: solid 1px var(--c-border);
    }
  }

  h3 {
    margin-left: 1rem;
    padding: 1rem;
    width: auto;
    aspect-ratio: 1/1;
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;

    @media (width <= $md) {
      margin-left: 0;
    }

    &::before {
      content: '';
      opacity: 0.1;
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -53%);
    }
  }

  &--problem h3::before {
    background-image: url(/img/problem.svg);
  }

  &--solution h3::before {
    background-image: url(/img/solution.svg);
  }

  ul {
    list-style: disc;
    border-left: solid 1px var(--c-border);
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 96px;
    justify-content: center;

    @media (width <= $md) {
      display: block;
      width: 100%;
      min-height: 0;
      border-left: none;
      padding-left: 1rem;
    }

    li {
      font-weight: 500;
      font-size: var(--font-15);
      line-height: 1.65;

      + li {
        margin-top: 1em;
      }
    }
  }
}

// -----------------------------------------------
// サイト画像
// -----------------------------------------------
.siteImage {
  clip-path: polygon(3% 0, 97% 0, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0 95%, 0 5%);

  + .siteImage {
    margin-top: 1.5rem;
  }

  + .detail {
    margin-top: clamp(2.5rem, 10vw, 5rem);
  }
}

// -----------------------------------------------
// 詳細
// -----------------------------------------------
.detail {
  + .detail {
    margin-top: clamp(2.5rem, 10vw, 5rem);
  }

  h2 {
    font-size: clamp(1.5rem, 6.25vw, 1.75rem);
    font-weight: 700;
    line-height: 1.5;
    padding: 0.5em 0;
    border-top: solid 2px var(--c-black);
    border-bottom: solid 2px var(--c-black);
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--c-black);
      position: absolute;
      top: 2px;
      left: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--c-black);
      position: absolute;
      bottom: 2px;
      left: 0;
    }

    + p {
      margin-top: 1rem;
    }
  }

  figure {
    margin-top: 1.5rem;

    + figure {
      margin-top: 2rem;
    }

    img {
      clip-path: polygon(3% 0, 97% 0, 100% 5%, 100% 95%, 97% 100%, 3% 100%, 0 95%, 0 5%);
    }

    figcaption {
      margin-top: 0.5em;
      font-family: var(--font-goth);
      font-size: var(--font-14);
      line-height: 1.5;
      font-weight: 700;
    }

    + p {
      margin-top: 2rem;
    }
  }

  p {
    font-family: var(--font-goth);

    + p {
      margin-top: 1rem;
    }
  }

  section {
    border: solid 1px #ccc;
    background-color: #ffffff9a;
    border-radius: 6px;
    margin-top: 2rem;

    h3 {
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.75rem 1.25rem;
      font-weight: bold;
      border-bottom: solid 1px #ccc;
    }

    ul {
      list-style: disc;
      padding: 0.75rem 1.25rem 0.75rem 2.5rem;

      li {
        color: #444;
        font-family: var(--font-goth);
        font-size: var(--font-14);
        line-height: 1.5;

        + li {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

// -----------------------------------------------
// ナビゲーション
// -----------------------------------------------
.nav {
  padding: 0 0 clamp(4rem, 14vw, 5.5rem);
  position: relative;
  z-index: 10;

  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :last-child {
      flex-direction: row-reverse;
    }

    a {
      display: flex;
      align-items: center;

      .nav__arrows__arrow {
        width: min(14vw, 60px);
        height: min(14vw, 60px);
        position: relative;

        &--prev {
          transform: scale(-1, 1);
          margin-right: 1rem;
        }

        &--next {
          margin-left: 1rem;
        }

        svg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: visible;

          circle {
            stroke-dasharray: 190;
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 0.5s ease-out;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }
        }

        img {
          width: 45%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .nav__arrows__text {
        font-size: min(4.5vw, 1.25rem);
        font-family: var(--font-en);
        color: var(--c-black);
        letter-spacing: 0.05em;
        line-height: 1;
      }
    }
  }

  &__button {
    font-size: var(--font-15);
    margin: 1.5rem auto;
    display: block;
    padding: 4px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-color: #134995;
    background-image:
      url("data:image/svg+xml,%3Csvg viewBox='0 0 65 65' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
      radial-gradient(circle at 99% 99%, hsla(0, 0%, 0%, 0.7) 5.91016548463357%, transparent 74.42611658263151%),
      radial-gradient(circle at 0% 0%, hsla(0, 0%, 0%, 0.7) 5.91016548463357%, transparent 81.07538130379174%);
    background-blend-mode: overlay, normal, normal;

    &::before {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: #fff;
      pointer-events: none;
      position: absolute;
      top: 4px;
      left: 4px;
      z-index: 1;
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 0;
      background-color: #fff;
      pointer-events: none;
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 1;
    }

    &__text {
      display: inline-block;
      width: 100%;
      padding: 0.65rem;
      font-weight: 500;
      letter-spacing: 0.08em;
      text-align: center;
      position: relative;
      border: solid 1px #fff;

      &::before {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        pointer-events: none;
        position: absolute;
        bottom: -1px;
        right: 0;
        z-index: 1;
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 0;
        background-color: #fff;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: -1px;
        z-index: 1;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      background-color: hsla(238.8, 73%, 13%, 1);
      background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 65 65' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
        radial-gradient(
          circle at 61% 40%,
          hsla(255.51724137931035, 37%, 27%, 1) 3.4602076124567476%,
          transparent 62.92954432710688%
        ),
        radial-gradient(
          circle at 43% 54%,
          hsla(198.52941176470594, 46%, 31%, 1) 9.60081449468085%,
          transparent 77.43534399262556%
        );
      background-blend-mode: overlay, normal, normal;
      transition: opacity 0.5s ease-in-out;
    }
  }
}

@media (hover: hover) {
  .nav__arrows a .nav__arrows__arrow svg circle {
    stroke-dashoffset: 190;
  }

  .nav__arrows a:hover .nav__arrows__arrow svg circle {
    stroke-dashoffset: 0;
  }

  .nav__arrows a:focus-visible .nav__arrows__arrow svg circle {
    stroke-dashoffset: 0;
  }

  .nav__button:hover {
    &::before {
      width: calc(100% - 8px);
      transition: width 0.2s 0.2s;
    }

    &::after {
      height: calc(100% - 8px);
      transition: height 0.1s 0.4s;
    }

    .nav__button__text {
      border: solid 1px transparent;
      transition: border 0.2s ease-out;

      &::before {
        width: 100%;
        transition: width 0.2s 0.5s;
      }

      &::after {
        height: 100%;
        transition: height 0.1s 0.7s;
      }
    }

    .nav__button__bg {
      opacity: 1;
    }
  }

  .nav__button:focus-visible {
    &::before {
      width: calc(100% - 8px);
      transition: width 0.2s 0.2s;
    }

    &::after {
      height: calc(100% - 8px);
      transition: height 0.1s 0.4s;
    }

    .nav__button__text {
      border: solid 1px transparent;
      transition: border 0.2s ease-out;

      &::before {
        width: 100%;
        transition: width 0.2s 0.5s;
      }

      &::after {
        height: 100%;
        transition: height 0.1s 0.7s;
      }
    }

    .nav__button__bg {
      opacity: 1;
    }
  }
}
