.decorativeBorder {
  --borderHeight: 20;
  height: calc(var(--borderHeight) * 1px);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;

  &__center {
    aspect-ratio: 65 / var(--borderHeight);
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url('/img/line_center.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__end {
    aspect-ratio: 31 / var(--borderHeight);
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url('/img/line_end.svg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__line {
    width: 50%;
    height: 1px;
    flex-shrink: 1;
    background-color: var(--c-accent);
    position: relative;
  }

  &__line--left {
    margin-right: 20px;
  }

  &__line--right {
    margin-left: 20px;
  }

  &__line::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--c-accent);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 999px;
  }

  &__line::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--c-accent);
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 999px;
  }
}
